<app-index></app-index>
<!---
<nav class="navbar navbar-expand-sm navbar-light bg-light py-0 px-3 " style="position: sticky;">
    <a class="navbar-brand" href="#"><img src="assets/logo-web-component.svg" alt="" height = "40px" width = "40px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li> 
        </ul>

        <form class="form-inline w-75 mr-auto">
            <input type="text" class="form-control w-50 my-2 mr-2" placeholder="Search">
            <button class="btn btn-outline-success my-2">Search</button>
        </form>
        <div class = "ml-auto">
            <a routerLink="/login"><button class = "btn btn-outline-success mx-2">Log in</button>
            </a>
            <a routerLink="/signup"><button class = "btn btn-outline-success mx-2">Sign Up</button>
            </a>
        </div>
    </div>

</nav>

-->

<div class="container-fluid" id = "main">
    <div class="row mt-4">
        <!-- Left Block -->
        <div
          class="col-6 d-flex flex-column justify-content-center align-items-center " id="about">
          <img
        src="/assets/about.png"
        alt=""
        style="height: 100%; width: 100%; object-fit: cover"
      />
        </div>
    
        <!-- Right Block-->
        <div
          class="col-6 d-flex flex-column justify-content-center ">
          <div class="h4">Who we are</div>
          <div class="h1 mt-4">Helping developers and technologists write the script of the future.</div>
          <div class="h5 mt-4">Our asynchronous knowledge management and collaboration offering Stack Overflow for Teams, is transforming how people work.
          <div class="h5 mt-3">We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of the world.</div>
        </div>
        </div>  
    </div>
    
    <div class="row h4 justify-content-center mt-8">Our core value</div>

    <div class="row justify-content-center" style="margin-top: 2.5rem;">
        
    <div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Adopt a customer-first mindset</h4>
          <p class="card-text mt-4">Authentically serve our customers by empowering, listening and collaborating with our fellow Stackers.</p>
        </div>
      </div>
      
      <div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Learn, share, grow        </h4>
          <p class="card-text mt-4">Adopt a Growth Mindset. Be curious and eager to learn. Aim for ethical, sustainable, long-term growth, both personally and in the company.

        </p>
        </div>
      </div><div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Be transparent        </h4>
          <p class="card-text mt-4">Communicate openly and honestly, both inside and outside the company. Encourage transparency from others by being empathetic, reliable, and acting with integrity.

        </p>
        </div>
      </div>
      
  </div>


  <div class="row justify-content-center" style="margin-top: 2.5rem;">
        
    <div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Empower people to deliver outstanding results        </h4>
          <p class="card-text mt-4">Give people space to get their job done, support them when they need it, and practice blameless accountability.

        </p>
        </div>
      </div>
      
      <div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Keep community at our center
        </h4>
          <p class="card-text mt-4">Community is at the heart of everything we do. Nurture healthy communities where everyone is encouraged to learn and give back.
        </p>
        </div>
      </div><div class="card col-3" style="margin: 7px;">
        <div class="card-body">
            <fa-icon [icon]="facebook" class="icon1 mt-6"></fa-icon>
          <h4 class="card-title mt-3">Be flexible and inclusive        </h4>
          <p class="card-text mt-4">We do our best work when a diverse group of people collaborate in an environment of respect and trust. Create space for different voices to be heard, and allow flexibility in how people work.

        </p>
        </div>
      </div>
      
  </div>


  <div class="row justify-content-center align-items-center" style="background-color: grey; height: 5rem; margin-top: 15px;">
    <div class="col-5 d-flex justify-content-between align-items-center">
          <!-- Facebook -->
          <fa-icon [icon]="fb" class="icon mt-6"></fa-icon>

          <!-- Twitter -->
          <fa-icon [icon]="twitter" class="icon mt-6 "></fa-icon>

          <!-- Google +-->
          <fa-icon [icon]="google" class="icon mt-6 "></fa-icon>

          <!--Linkedin -->
          <fa-icon [icon]="linkdin" class="icon mt-6"></fa-icon>

          <!--Instagram-->
          <fa-icon [icon]="instagram" class="icon mt-6 "></fa-icon>

          <!--Pinterest-->
          <fa-icon [icon]="pint" class="icon mt-6 "></fa-icon>
        </div>
      
  </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> CloneOfStackOverFlow.com</a>
    </div>
    <!-- Copyright -->
  
  <!-- Footer -->
  
    </div>
