<app-index></app-index>

<div class = "d-flex align-items-center justify-content-center" id="body" style = "height : 100vh;">
    <div class = "container-fluid col-12 col-md-7 d-flex flex-wrap h-75 p-0">
      <div class = "w-50 d-flex col-12 col-md-6 align-items-center justify-content-center">
          <form action="#" class = "d-flex flex-column align-items-center" [formGroup] = "fbFormGroup">
            <h2 style = "font-weight:bold; margin : 0;">Create Account</h2>
            <div class = "icons-container my-3 d-flex justify-content-center">
              <a href="#"><fa-icon
                [icon]="facebook"
              ></fa-icon></a>
              <a href="#"><fa-icon
                [icon]="google"
              ></fa-icon></a>
              <a href="#"><fa-icon
                [icon]="linkdin"
              ></fa-icon></a>
            </div>
            <span style = "font-size : 12px">or use your email for registration</span>
            <input type="text" placeholder="Name" formControlName="uname" class = "w-100 form-control" />
            <input type="email"  placeholder="Email" formControlName="email" class = "w-100 form-control"/>
            <input type="password" placeholder="Password" formControlName="passw" class = "w-100 form-control" /> <br>
            <button class = "btn btn-outline-success fbtn" (click) = " registerHere()">Sign Up</button>
          </form>
      </div>
      <div class = "overlay-container col-12 col-md-6 w-50 d-flex align-items-center justify-content-center">
        <div style= "text-align: center;">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info </p>
          <a routerLink="/login"><button class = "btn btn-outline-light obtn">Sign in</button></a>
        </div>
      </div>
    </div>
</div>