<nav class="navbar navbar-expand-sm navbar-light bg-secondary py-0 px-3 sticky-top" id = "body">
    <a class="navbar-brand" href="#"><img src="assets/logo-web-component.svg" alt="" height = "40px" width = "40px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
             </li>
        </ul>

        <form class="form-inline w-75 mr-auto">
            <input type="text" class="form-control w-50 my-2 mx-2 btn-sm" placeholder="Search">
            <button class="btn btn-outline-dark my-2 btn-sm">Search</button>
        </form>
        <div class = "ml-auto">
            <a routerLink="/login"><button class = "btn btn-outline-dark btn-sm">Log in</button>
            </a>
            <a routerLink="/signup"><button class = "btn btn-outline-dark mx-2 btn-sm">Sign Up</button>
            </a>
        </div>
    </div>

</nav>
    <router-outlet></router-outlet>

