#body {
    color: white;
    font-family: 'Montserrat', sans-serif;   
}
.photo{
    height: 3rem;
    width: 3rem;
}
.container-fluid{
    background-image: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/assets/singup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
li a{
    color: black;
    font-weight: bold;
}

.nav-item a{
    color: black;
}
.ml-auto a{
    color: white;
}